/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f8ff;
}

/* Container */
.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 60px; /* To provide space for the fixed header */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007BFF;
}

p {
    font-size: 1.2em;
    color: #333;
}

/* Video Container */
.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

video {
    border: 2px solid #007BFF; /* 青色の枠 */
    border-radius: 5px;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 20%;
    border: 2px solid red;
    transform: translate(-50%, -50%);
    pointer-events: none; /* 枠がクリックできないようにする */
}

@keyframes scan {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

.scan-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scan-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}
