body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; /* 画面全体をカバー */
    padding: 20px;
    background-color: #f0f8ff; /* 淡い青色の背景 */
  }
  
  h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007BFF; /* メインの青色 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; /* ボタンホバー時の色 */
    transform: scale(1.05);
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  